*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glass {
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.86);
    color: #2c3e50;

    border-radius: 15px;

    width: 70%;
    height: fit-content;
    
    margin: 3% auto;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.glass-title {
    width: 100%;

    padding: 1rem 1.2rem;
    margin: 1.5rem 0;
    border-radius: 10px;
    font-size: 0.95rem;

    background: linear-gradient(90deg, #ffb100, #ff8000);
    box-shadow: 0 3px 10px rgba(255, 174, 0, 0.551);
    border-left: 6px solid #000000;
    color: #2e1a00;

    font-size: 1.5em;

    text-align: center;
}

img {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem 25%;
}